<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>this site rocks!</p>
            <img class="portrait" src="/img/pic.jpg">
                    
        </div>

        {{>footer}}
    </body>
</html>